[submodule "cfmesh"]
	path = plugins/cfmesh
	url = https://develop.openfoam.com/Community/integration-cfmesh.git
[submodule "avalanche"]
	path = plugins/avalanche
	url = https://develop.openfoam.com/Community/avalanche.git
[submodule "adios"]
	path = modules/adios
	url = https://develop.openfoam.com/Community/adiosfoam.git
[submodule "OpenQBMM"]
	path = modules/OpenQBMM
	url = https://github.com/OpenQBMM/OpenQBMM.git
	branch = openfoam.com
[submodule "visualization"]
	path = modules/visualization
	url = https://develop.openfoam.com/modules/visualization.git
[submodule "external-solver"]
	path = modules/external-solver
	url = https://develop.openfoam.com/Modules/external-solver.git
[submodule "turbulence-community"]
	path = plugins/turbulence-community
	url = https://gitlab.com/openfoam/community/tc-turbulence/turbulence-community.git
[submodule "plugins/data-community"]
	path = plugins/data-community
	url = https://gitlab.com/openfoam/community/sig-data-modelling/data-community.git
